
::placeholder {
    -webkit-text-fill-color: silver;
    opacity: 1; /* Firefox */
  }
  
.input-border{
    border-radius: 20px;
  border: 2px solid #73AD21;
  padding: 25px;
  width: 350px;
  height: 20px;
}

